{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NESHIE-DB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Table selection
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Studies</a></li>
                        <li><a class="dropdown-item" href="#">Variants</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Genes</a></li>
                    </ul>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-12 text-centre px-5 pt-5">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="col-12 p-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">DOI</th>
                    <th scope="col">Paper</th>
                    <th scope="col">Population description</th>
                    <th scope="col">UNICEF regional classification</th>
                    <th scope="col">Methods</th>
                </tr>
            </thead>
            <tbody>
                {% for study in all_studies %}
                <tr>
                    <td><a href="{% routablepageurl page "selected_study" slug=study.slug %}">{{ study.doi}}</a></td>
                    <td>{{ study.papers }}</td>
                    <td>{{ study.study_population_description }}</td>
                    <td>{{ study.unicef_regional_classification }}</td>
                    <td>{{ study.methods }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}