{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<div class="row" >
    <div class="col-12 text-centre px-5 pt-5 pb-4">
        <h1 class="display-4">{{ page.title }}</h1>
    </div>
    <div class="col-12 px-5">
        <table class="table table-hover table-striped">
            <thead class="sticky-top">
                <tr>
                    <th scope="col">DOI</th>
                    <th scope="col">Paper</th>
                    <th scope="col">Population description</th>
                    <th scope="col">UNICEF regional classification</th>
                    <th scope="col">Methods</th>
                </tr>
            </thead>
            <tbody>
                {% for study in all_studies %}
                    <tr class="cursor-pointer clickable" onclick="location.href='{% routablepageurl page "selected_study" slug=study.slug %}'" title="Click to view study findings">
                        <td>{{ study.doi}}</td>
                        <td>{{ study.papers }}</td>
                        <td>{{ study.study_population_description }}</td>
                        <td>{{ study.unicef_regional_classification }}</td>
                        <td>{{ study.methods }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}