{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<H2>Filters</H2>
<div>
    <form action="filter_results/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <label>Filter by condition:</label>
                        <select name="condition">
                                <option value="">All</option>
                                {% for entry in study_variants %}
                                <option value="{{entry.condition}}">{{ entry.condition }}</option>
                                {% endfor %}
                        </select> -->
        <input type="submit" value="Filter">
    </form>
</div>