{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div>
        {% image self.header_image fill-6000x4700 as img %}
        <div>
                <div class="home-heading-bg col-12 text-centre pt-5 pb-4 px-5 pb-2 bg-light"
                        style="background-image: url('{{ img.url }}'); background-size:cover;">
                        <div id="home-title">
                                <h1><b>{{ page.title }}</b></h1>
                        </div>
                        <div id="home-body">
                                <p>{{ page.body|richtext }}</p>
                        </div>
                </div>
                <div id="home-about" class="container my-5 pt-5 pb-4">
                        <div class="row">
                                <div class="col-8">
                                        <div id="home-about-h">
                                                <h2>About</h2>
                                        </div>
                                        <div id="home-about-p">
                                                <p>{{ page.about|richtext }}</p>
                                        </div>
                                </div>
                                <div class="col-4"></div>
                        </div>
                </div>
                <div class="bg-light">
                        <div id="team-cards" class="container">
                                {% for block in page.content %}
                                {% include_block block %}
                                {% endfor %}
                        </div>
                </div>
        </div>
</div>
{% endblock content %}