{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<div class="row">
    <div class="col-12 text-centre px-5 pt-5 pb-4">
        <h1 class="display-4">{{ page.title }}</h1>
    </div>
    <div class="col-12 px-5">
        <table class="table table-hover table-striped">
            <thead class="sticky-top">
                <tr>
                    <th scope="col">Variant identifier (dbSNP or HGVS)</th>
                    <th scope="col">Reference genome</th>
                    <th scope="col">Transcript ID</th>
                    <th scope="col">Chromosome</th>
                    <th scope="col">Genomic start position</th>
                    <th scope="col">Genomic end position</th>
                    <th scope="col">Reference allele</th>
                    <th scope="col">Alternate allele</th>
                    <th scope="col">Variant type</th>
                    <th scope="col">Gene</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for variant in variants %}
                <tr class="cursor-pointer clickable" onclick="location.href='{% routablepageurl page "selected_variant" slug=variant.slug %}'" title="Click to view variant effect predictions">
                    <td>{{ variant.variant_name }}</td>
                    <td>{{ variant.reference_genome }}</td>
                    <td>{{ variant.transcript_id }}</td>
                    <td>{{ variant.chromosome }}</td>
                    <td>{{ variant.genomic_start_position }}</td>
                    <td>{{ variant.genomic_end_position }}</td>
                    <td>{{ variant.reference_allele }}</td>
                    <td>{{ variant.alternate_allele }}</td>
                    <td>{{ variant.variant_type }}</td>
                    <td>{{ variant.gene }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}