{% extends "base.html" %}
{% block content %}
    <h1>Variant effect prediction for {{variant_name}}</h1>
    <table>
        <thead>
            <tr>
                <th scope = "col">Ensembl canonical HGVSC</th>
                <th scope = "col">Ensembl consequence terms</th>
                <th scope = "col">1000 Genomes AF</th>
                <th scope = "col">1000 Genomes EUR AF</th>
                <th scope = "col">1000 Genomes AFR AF</th>
                <th scope = "col">1000 Genomes AMR AF</th>
                <th scope = "col">1000 Genomes SAS AF</th>
                <th scope = "col">1000 Genomes EAS AF</th>
                <th scope = "col">ExAC AF</th>
                <th scope = "col">ExAC AFR AF</th>
                <th scope = "col">ExAC AMR AF</th>
                <th scope = "col">ExAC EAS AF</th>
                <th scope = "col">ExAC SAS AF</th>
                <th scope = "col">GnomAD AF</th>
                <th scope = "col">GnomAD AFR AF</th>
                <th scope = "col">GnomAD EAS AF</th>
                <th scope = "col">PolyPhen2 score</th>
                <th scope = "col">PolyPhen2 prediction</th>
                <th scope = "col">SIFT4G score</th>
                <th scope = "col">SIFT4G prediction</th>
                <th scope = "col">FATHMM score</th>
                <th scope = "col">FATHMM prediction</th>
                <th scope = "col">SIFT score</th>
                <th scope = "col">SIFT prediction</th>
                <th scope = "col">CADD raw</th>
                <th scope = "col">CADD Phred</th>
                <th scope = "col">MutationTaster prediction</th>
            </tr>
        </thead>
        <tbody>
            <tr> 
            {% for entry in ensembl_vep %}
                <td>{{entry.ensembl_canonical_hgvsc}}</td>
                <td>{{entry.consequence_terms}}</td>
                <td>{{entry.af_1000gp3}}</td>
                <td>{{entry.af_1000gp3_eur}}</td>
                <td>{{entry.af_1000gp3_afr }}</td>
                <td>{{entry.af_1000gp3_amr}}</td>
                <td>{{entry.af_1000gp3_sas}}</td>
                <td>{{entry.af_1000gp3_eas}}</td>
                <td>{{entry.exac_adj_af}}</td>
                <td>{{entry.exac_afr_af}}</td>
                <td>{{entry.exac_amr_af}}</td>
                <td>{{entry.exac_eas_af}}</td>\
                <td>{{entry.exac_sas_af}}</td>
                <td>{{entry.gnomad_genomes_af }}</td>
                <td>{{entry.gnomad_genomes_afr_af}}</td>
                <td>{{entry.gnomad_genomes_eas_af}}</td>
                <td>{{entry.polyphen2_hvar_score}}</td>
                <td>{{entry.polyphen2_hvar_pred}}</td>
                <td>{{entry.sift4g_score}}</td>
                <td>{{entry.sift4g_pred}}</td>
                <td>{{entry.fathmm_score}}</td>
                <td>{{entry.fathmm_pred}}</td>
                <td>{{entry.sift_score}}</td>
                <td>{{entry.sift_prediction}}</td>
                <td>{{entry.cadd_raw}}</td>
                <td>{{entry.cadd_phred}}</td>
            {% endfor %}

            {% for entry in mt_vep %}
                <td>{{entry.query_prediction}}</td>
            {% endfor %}
            </tr> 
        </tbody>
    </table>

{% endblock content %}