/* .cursor-pointer{
    cursor: pointer;
  } */

.sticky-top th {
  position: sticky;
  background: white;
  top: 0px;
}

.body-panel {
  background-color:white;
}

table thead.sticky-top {
  z-index: 99;
}

table tr.cursor-pointer {
  z-index: 99;
}