/* .cursor-pointer{
    cursor: pointer;
  } */

#custom_search_bar {
  margin-bottom: 100px;
}

.sticky-top th {
  position: sticky;
  background: white;
  top: 0px;
}

.body-panel {
  background-color: white;
}

table thead.sticky-top {
  z-index: 99;
}

table tr.cursor-pointer {
  z-index: 99;
}

#builder_group_0 {
  border: none;
  background: rgba(240, 239, 237, 0.5);
}

.btn-group {
  background: rgba(240, 239, 237, 0.5);
}

#home-body {
  font-size: 20px;
}

#home-about {
  /* margin-left: 0px;
  margin-right: 0px; */
}

#home-about-h {
  font-size: 30px;
}

#home-about-p {
  font-size: 16px;
}

#affiliation-img {
  border: none;
}