{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}
{% load mathfilters %}


{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}



<form method="get" class="p-5">
    <h1>Customised filter</h1>
    <p>Filter results by custom parameters</p>
    <div id="builder"></div>
    <input id='complex_filter_query' type='text' class='d-none' name='complex_filter_query'
        value='{{complex_filter_query}}' />
    <button id="filter_button" type="submit" class="btn btn-success btn-lrg">Submit</button>
</form>
<div class="px-5">
    {% if search_results %}
    <div class="pt-3">
        <h1>Results</h1>
    </div>
    <div class="col-12">
        <table data-toggle="table" data-search="true" data-show-header="true" data-search-highlight="true"
            data-search-accent-neutralise="true" data-height="560" data-show-columns="true" data-pagination="true"
            class="table table-hover table-striped">
            <thead data-sticky-header="true" data-sticky-header-offset-y="60">
                <tr>
                    <th data-sortable="true" scope="col">Study</th>
                    <th data-sortable="true" scope="col">Condition</th>
                    <th data-sortable="true" scope="col">Condition description</th>
                    <th data-sortable="true" scope="col">Gene</th>
                    <th data-sortable="true" scope="col">RVIS score</th>
                    <th data-sortable="true" scope="col">Variant identifier (dbSNP or HGVS)</th>
                    <th data-sortable="true" scope="col">Reference allele</th>
                    <th data-sortable="true" scope="col">Alternate allele</th>
                    <th data-sortable="true" scope="col">Variant type</th>
                    <th data-sortable="true" scope="col">P-value</th>
                    <th data-sortable="true" scope="col">Odds ratio</th>
                </tr>
            </thead>
            <tbody>
                {% for result in search_results.distinct %}
                <tr>
                    {% if result.paper %}
                    <td><a href="{% slugurl result.paper.slug %}" title="View study information">{{result.paper}}</a>
                    </td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    <td>{{result.condition}}</td>
                    <td>{{result.condition_description}}</td>
                    <td><a href="{% pageurl result.variant.gene %}"
                            title="View gene information">{{ result.variant.gene }}</a>
                    </td>
                    <td>{{ result.variant.gene.rvis_score }}</td>
                    <td><a href="{% pageurl result.variant %}" title="View variant information">{{result.variant}}</a>
                    </td>
                    <td>{{ result.variant.reference_allele }}</td>
                    <td>{{ result.variant.alternate_allele }}</td>
                    <td>{{ result.variant.variant_type }}</td>
                    {% if result.p_value < 0 %}
                    <td title="Study did not give exact p-value">&lt;{{result.p_value|abs}}</td>
                    {% elif result.p_value > 0 %}
                    <td>{{result.p_value}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    {% if result.odds_ratio %}
                    <td>{{result.odds_ratio}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        No results found
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    const complex_filter_query_persist = JSON.parse('{{complex_filter_query|safe}}');
    const filter_options = {
        allow_empty: true,
        select_placeholder: "Select parameter",
        filters: [{
            id: 'Condition',
            label: 'Condition',
            type: 'string',
            input: 'radio',
            operators: ['equal', 'not_equal'],
            values: [{
                value: 'NESHIE',
                label: "NESHIE"
            }, {
                value: 'NESHIE-caused CP',
                label: "NESHIE-caused CP"
            }, {
                value: 'CP',
                label: "CP"
            }]

        }, {
            id: 'Gene HPO',
            label: 'Gene HPO',
            type: 'string',
            input: 'text',
            operators: ['equal', 'not_equal'],
            placeholder: 'Enter a valid HPO term here ',
            size: 40
        }, {
            id: 'P-value',
            label: 'P-value',
            type: 'double',
            input: 'select',
            operators: ['equal', 'less', 'less_or_equal', 'greater', 'greater_or_equal'],
            values: [{
                value: 0.05,
                label: 0.05
            }, {
                value: 0.001,
                label: 0.001
            }]
        }, {
            id: 'Odds ratio',
            label: 'Odds ratio',
            type: 'integer',
            input: 'select',
            operators: ['equal', 'less', 'less_or_equal', 'greater', 'greater_or_equal'],
            values: [{
                value: 1,
                label: 1
            }, {
                value: 2,
                label: 2
            }]
        }, {
            id: 'Predicted variant effect',
            label: 'Predicted variant effect',
            type: 'string',
            input: 'radio',
            operators: ['equal', 'not_equal'],
            values: [{
                value: 'Pathogenic',
                label: 'Pathogenic'
            }, {
                value: 'Deleterious',
                label: 'Deleterious'
            }]
        }, {
            id: 'Variant consequences',
            label: 'Variant consequences',
            type: 'string',
            input: 'radio',
            operators: ['equal', 'not_equal'],
            values: [{
                value: '3_prime_UTR_variant',
                label: '3_prime_UTR_variant'
            }, {
                value: '5_prime_UTR_variant',
                label: '5_prime_UTR_variant'
            }, {
                value: 'downstream_gene_variant',
                label: 'downstream_gene_variant'
            }, {
                value: 'upstream_gene_variant',
                label: 'upstream_gene_variant'
            }, {
                value: 'frameshift_variant',
                label: 'frameshift_variant'
            }, {
                value: 'inframe_insertion',
                label: 'inframe_insertion'
            }, {
                value: 'intron_variant',
                label: 'intron_variant'
            }, {
                value: 'missense_variant',
                label: 'missense_variant'
            }, {
                value: 'splice_donor_variant',
                label: 'splice_donor_variant'
            }, {
                value: 'splice_region_variant',
                label: 'splice_region_variant'
            }, {
                value: 'stop_gained',
                label: 'stop_gained'
            }, {
                value: 'synonymous_variant',
                label: 'synonymous_variant'
            }]
        }, {
            id: 'RVIS',
            label: 'RVIS',
            type: 'integer',
            input: 'select',
            operators: ['less', 'less_or_equal', 'greater', 'greater_or_equal'],
            values: [{
                value: 0,
                label: 0
            }]
        }, ]
    };
    $('#builder').queryBuilder(filter_options);

    $('#filter_button').on('click', function (event) {
        //event.preventDefault();
        let filter_parameters = $('#builder').queryBuilder('getRules');
        $('#complex_filter_query').val(JSON.stringify(filter_parameters));
        //console.log($('#complex_filter_query').val());
    });
    if (complex_filter_query_persist) {
        $('#builder').queryBuilder('setRules', complex_filter_query_persist)
    }
</script>
{% endblock %}