{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<div class="row">
    <div class="col-12 text-centre px-5 pt-5 pb-4">
        <h1 class="display-4">{{ page.title }}</h1>
    </div>
    <div class="col-12 px-5">
        <table class="table table-hover table-striped">
            <thead class="sticky-top">
                <tr>
                    <th scope="col">Gene symbol</th>
                    <th scope="col">Cytoband position</th>
                    <th scope="col">OMIM ID</th>
                    <th scope="col">RVIS score</th>
                    <th scope="col">RVIS percentage</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for gene in genes %}
                <tr class="cursor-pointer clickable" onclick="location.href='{% routablepageurl page "selected_gene" slug=gene.slug %}'" title="Click to view gene HPO">
                    <td>{{ gene.gene }}</a></td>
                    <td>{{ gene.cytoband_position }}</td>
                    <td>{{ gene.omim }}</td>
                    <td>{{ gene.rvis_score }}</td>
                    <td>{{ gene.rvis_percentage }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}