{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<div class="row">
    <div class="col-12 text-centre px-5 pt-5 pb-4">
        <h1 class="display-4">{{ page.title }}</h1>
    </div>
    <div class="col-12 px-5">
        {% comment %} <input id="custom_search_bar" type="text" class="form-control" type="text"
            placeholder="Local filter" aria-label="Local filter" /> {% endcomment %}
        <table data-search-selector="true" data-toggle="table" data-search="true" data-show-header="true"
            data-search-highlight="true" data-search-accent-neutralise="true" data-height="560" data-show-columns="true"
            data-pagination="true" class="table table-hover table-striped">
            <thead data-sticky-header="true" data-sticky-header-offset-y="60">
                <tr>
                    <th data-sortable="true" scope="col">Gene symbol</th>
                    <th data-sortable="true" scope="col">Cytoband position</th>
                    <th data-sortable="true" scope="col">OMIM ID</th>
                    <th data-sortable="true" scope="col">RVIS score</th>
                    <th data-sortable="true" scope="col">RVIS percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for gene in genes %}
                <tr class="cursor-pointer clickable"
                    onclick="location.href='{% routablepageurl page "selected_gene" slug=gene.slug %}'"
                    title="Click to view gene HPO">
                    <td><a href="{% routablepageurl page "selected_gene" slug=gene.slug %}"
                            title="View gene Human Phenotype Ontology">{{ gene.gene }}</a></td>
                    <td>{{ gene.cytoband_position }}</td>
                    <td>{{ gene.omim }}</td>
                    <td>{{ gene.rvis_score }}</td>
                    <td>{{ gene.rvis_percentage }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}